*.html
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.gitattributes

.Rproj.user
.Rapp.history
.RData
.Rhistory
*.Rproj

.DS_Store

scratch_1.py
scratch_2.py

02_bash_CopyReplacingLCsOfMissingSNe.sh
04_bash_SNANALCfiles_MultipleOperations.sh
06_bash_Odyssey_MultipleOperations.sh