*.html
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.gitattributes

.Rproj.user
.Rapp.history
.RData
.Rhistory
*.Rproj

.DS_Store

scratch_1.py
scratch_2.py

bash_CopyReplacingLCsOfMissingSNe_v1_0.sh
bash_Odyssey_MultipleOperations_v1_1.sh
bash_SNANALCfiles_MultipleOperations_v1_1.sh